<div *ngIf="selectedStory">
  <h2>Editing '{{ selectedStory.title }}'</h2>
  <div>
    <label
      >id:
      <input [(ngModel)]="selectedStory.id" placeholder="id" />
    </label>
    <label
      >title:
      <input [(ngModel)]="selectedStory.title" placeholder="title" />
    </label>
  </div>
</div>

<section>
  <h2>List of stories</h2>
  <ul class="stories">
    <li *ngFor="let story of stories" (click)="onSelect(story)">
      <span class="badge">{{ story.id }} </span>{{ story.title }}
      <!-- <span>Story tags: {{ story.tags }}</span> -->
    </li>
  </ul>
</section>
